h1{
  color: blue; 
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 80px;
  text-align: center;
  font-weight: bold;
}

body{
  background-color: black;
}

p{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}

p {
  margin: 50px 250px;
}