html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}


#interface{
  position: relative;
  /* top:100px; */
  display: inline-block;
  width: 50%;
  /* border:solid red; */
  height: 100px;

}